name: openScrape
channels:
  - defaults
  - conda-forge
dependencies:
  - _libgcc_mutex=0.1=main
  - _openmp_mutex=5.1=1_gnu
  - blas=1.0=mkl
  - bottleneck=1.3.7=py311hf4808d0_0
  - brotli-python=1.0.9=py311h6a678d5_8
  - bzip2=1.0.8=h5eee18b_6
  - ca-certificates=2024.3.11=h06a4308_0
  - certifi=2024.7.4=py311h06a4308_0
  - charset-normalizer=2.0.4=pyhd3eb1b0_0
  - idna=3.7=py311h06a4308_0
  - intel-openmp=2023.1.0=hdb19cb5_46306
  - ld_impl_linux-64=2.38=h1181459_1
  - libffi=3.4.4=h6a678d5_1
  - libgcc-ng=11.2.0=h1234567_1
  - libgomp=11.2.0=h1234567_1
  - libstdcxx-ng=11.2.0=h1234567_1
  - libuuid=1.41.5=h5eee18b_0
  - mkl=2023.1.0=h213fc3f_46344
  - mkl-service=2.4.0=py311h5eee18b_1
  - mkl_fft=1.3.8=py311h5eee18b_0
  - mkl_random=1.2.4=py311hdb19cb5_0
  - ncurses=6.4=h6a678d5_0
  - numexpr=2.8.7=py311h65dcdc2_0
  - numpy=1.26.4=py311h08b1b3b_0
  - numpy-base=1.26.4=py311hf175353_0
  - openssl=3.0.14=h5eee18b_0
  - pandas=2.2.2=py311ha02d727_0
  - pip=24.0=py311h06a4308_0
  - pysocks=1.7.1=py311h06a4308_0
  - python=3.11.9=h955ad1f_0
  - python-dateutil=2.9.0post0=py311h06a4308_2
  - python-tzdata=2023.3=pyhd3eb1b0_0
  - pytz=2024.1=py311h06a4308_0
  - readline=8.2=h5eee18b_0
  - setuptools=69.5.1=py311h06a4308_0
  - six=1.16.0=pyhd3eb1b0_1
  - sqlite=3.45.3=h5eee18b_0
  - tbb=2021.8.0=hdb19cb5_0
  - tk=8.6.14=h39e8969_0
  - tzdata=2024a=h04d1e81_0
  - urllib3=2.2.2=py311h06a4308_0
  - wheel=0.43.0=py311h06a4308_0
  - xz=5.4.6=h5eee18b_1
  - zlib=1.2.13=h5eee18b_1
  - pip:
      - agate==1.9.1
      - aiohappyeyeballs==2.3.5
      - aiohttp==3.10.2
      - aiosignal==1.3.1
      - annotated-types==0.7.0
      - appdirs==1.4.4
      - attrs==23.2.0
      - autopep8==2.3.1
      - babel==2.15.0
      - beautifulsoup4==4.12.3
      - black==24.4.2
      - cachetools==5.4.0
      - chardet==5.2.0
      - click==8.1.7
      - colorama==0.4.6
      - cramjam==2.8.3
      - cvss==3.1
      - daff==1.3.46
      - dbt==1.0.0.38.4
      - dbt-adapters==1.3.2
      - dbt-common==1.6.0
      - dbt-core==1.8.3
      - dbt-extractor==0.5.1
      - dbt-semantic-interfaces==0.5.1
      - decorator==5.1.1
      - deepdiff==7.0.1
      - diff-cover==9.1.0
      - duckdb==1.0.0
      - fastparquet==2024.5.0
      - flake8==7.1.0
      - frozenlist==1.4.1
      - fsspec==2024.6.1
      - fuzzywuzzy==0.18.0
      - gcsfs==2024.6.1
      - gitdb==4.0.11
      - gitpython==3.1.43
      - google-api-core==2.19.1
      - google-auth==2.33.0
      - google-auth-oauthlib==1.2.1
      - google-cloud-bigquery==3.25.0
      - google-cloud-core==2.4.1
      - google-cloud-storage==2.18.2
      - google-crc32c==1.5.0
      - google-resumable-media==2.7.2
      - googleapis-common-protos==1.63.2
      - grpcio==1.65.4
      - grpcio-status==1.65.4
      - h11==0.14.0
      - importlib-metadata==6.11.0
      - iniconfig==2.0.0
      - isodate==0.6.1
      - jinja2==3.1.4
      - jinja2-simple-tags==0.6.1
      - jsonschema==4.23.0
      - jsonschema-specifications==2023.12.1
      - leather==0.4.0
      - logbook==1.5.3
      - markdown-it-py==3.0.0
      - markupsafe==2.1.5
      - mashumaro==3.13.1
      - mccabe==0.7.0
      - mdurl==0.1.2
      - minimal-snowplow-tracker==0.0.2
      - more-itertools==10.3.0
      - msgpack==1.0.8
      - multidict==6.0.5
      - mypy-extensions==1.0.0
      - networkx==3.3
      - oauthlib==3.2.2
      - ordered-set==4.1.0
      - outcome==1.3.0.post0
      - packaging==24.1
      - parsedatetime==2.6
      - pathspec==0.12.1
      - platformdirs==4.2.2
      - pluggy==1.5.0
      - proto-plus==1.24.0
      - protobuf==5.27.3
      - pyarrow==17.0.0
      - pyasn1==0.6.0
      - pyasn1-modules==0.4.0
      - pycodestyle==2.12.0
      - pydantic==2.8.2
      - pydantic-core==2.20.1
      - pyflakes==3.2.0
      - pygments==2.18.0
      - pytest==8.2.2
      - python-slugify==8.0.4
      - pytimeparse==1.1.8
      - pyyaml==6.0.1
      - referencing==0.35.1
      - regex==2024.5.15
      - requests==2.32.3
      - requests-oauthlib==2.0.0
      - rich==13.7.1
      - robotframework==7.0.1
      - robotframework-requests==0.9.7
      - rpds-py==0.19.0
      - rsa==4.9
      - ruamel-yaml==0.18.6
      - ruamel-yaml-clib==0.2.8
      - selenium==4.22.0
      - smmap==5.0.1
      - sniffio==1.3.1
      - sortedcontainers==2.4.0
      - soupsieve==2.5
      - sqlfluff==3.1.0
      - sqlfluff-templater-dbt==3.1.0
      - sqlparse==0.5.1
      - strsimpy==0.2.1
      - tblib==3.0.0
      - text-unidecode==1.3
      - tqdm==4.66.5
      - trio==0.26.0
      - trio-websocket==0.11.1
      - typing-extensions==4.12.2
      - websocket-client==1.8.0
      - wsproto==1.2.0
      - yarl==1.9.4
      - zipp==3.19.2
prefix: /home/iderke/miniconda3/envs/openScrape
